In [2]:
# pandas : ë°ì´í„° ë¶„ì„ ë¼ì´ë¸ŒëŸ¬ë¦¬
import pandas as pd
# numpy : ìˆ˜ì¹˜ ê³„ì‚° ë¼ì´ë¸ŒëŸ¬ë¦¬
import numpy as np
# matplotlib : ì‹œê°í™” ë¼ì´ë¸ŒëŸ¬ë¦¬
# 'plot' í•¨ìˆ˜ëŠ” Matplotlibì˜ ì„œë¸Œëª¨ë“ˆ 'pyplot'ì— ìˆìŠµë‹ˆë‹¤. ë”°ë¼ì„œ ì˜¬ë°”ë¥¸ import ë¬¸ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤:
import matplotlib.pyplot as plt
# seaborn : ë°ì´í„° ì‹œê°í™” ë¼ì´ë¸ŒëŸ¬ë¦¬
import seaborn as sns

# seaborn ì‹œê°í™” ìŠ¤íƒ€ì¼ ì§€ì • 
sns.set_style('whitegrid')

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° (í´ë”ì—ì„œ ë¶ˆëŸ¬ì˜¤ëŠ” ë°©ë²•)
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# kaggleì— ì˜¬ë¼ì˜¨ ì½”ë“œë¡œ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ëŠ” ë°©ë²• (ë‹¤ìŒì— ì ìš©í•´ ë³´ê³ ì‹¶ìŒ)
# for dirname, _, filenames in os.walk('/home/iujeong/titanic/train.csv'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# train ë°ì´í„° í™•ì¸
# train.shape : í–‰ê³¼ ì—´ì˜ ê°œìˆ˜ í™•ì¸
# train.head() : ìƒìœ„ 5ê°œì˜ í–‰ì„ ë¯¸ë¦¬ë³´ê¸°
print("Train shape : ", train.shape)
train.head()

Train shape :  (891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# info()ë¡œ ê²°ì¸¡ì¹˜ ë° ë°ì´í„° íƒ€ì… í™•ì¸
# ê²°ì¸¡ì¹˜ : ë°ì´í„°ì—ì„œ íŠ¹ì • ì •ë³´ê°€ ëˆ„ë½ëœ ê²ƒ
# info() : ê° ì»¬ëŸ¼ì˜ ë°ì´í„°íƒ€ì…(object, int, float ë“±)ê³¼ ê²°ì¸¡ì§€(null) ìˆ˜ í™•ì¸
train.info()

# describe()ë¡œ ê¸°ì´ˆ í†µê³„ëŸ‰
# describe() : ìˆ˜ì¹˜í˜• ì—´ì— ëŒ€í•œ ê¸°ì´ˆ í†µê³„ (í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Ÿê°’, ìµœëŒ“ê°’ ë“±)
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

ì´ í–‰ ê°œìˆ˜ 891, ì´ ì»¬ëŸ¼ ê°¯ìˆ˜ 12ê°œ

ğŸ’¡ ì£¼ìš” ê´€ì°° í¬ì¸íŠ¸ :

dtypes: float64(2), int64(5), object(5)

1ï¸âƒ£ float64(ì‹¤ìˆ˜í˜• ë°ì´í„°) : Age(ë‚˜ì´), Fare(í‹°ì¼“ ê°€ê²©)
2ï¸âƒ£ int64(ì •ìˆ˜í˜• ë°ì´í„°) : PassengerId(ìŠ¹ê°ë³„ ê³ ìœ  IDë²ˆí˜¸), Survived(ìƒì¡´ ì—¬ë¶€), Pclass(ì¢Œì„ ë“±ê¸‰), SibSp(í˜•ì œìë§¤/ë°°ìš°ì ìˆ˜), Parch(ë¶€ëª¨/ìì‹ ìˆ˜)
3ï¸âƒ£ object(ë¬¸ìì—´ ë°ì´í„°) : Name(ì´ë¦„), Sex(ì„±ë³„), Ticket(í‹°ì¼“ ë²ˆí˜¸), Cabin(ê°ì‹¤ ë²ˆí˜¸), Embarked(ìŠ¹ì„ í•œ í•­êµ¬)

Age(ë‚˜ì´)ì™€ Cabin(ê°ì‹¤ ë²ˆí˜¸)ì— ê²°ì¸¡ì¹˜(ë°ì´í„°ê°€ ëˆ„ë½ë¨)ê°€ ë§ìŒ -> ì™œ??

** ë‚˜ì´ (891ê°œ ì¤‘ì— 714ê°œë§Œ ìˆìŒ, 177ê°œì˜ ê²°ì¸¡ì¹˜)
... ì•„ë§ˆë„ ê·¸ ë‹¹ì‹œì—” ì‹ ë¶„ì¦ì´ ë³´í¸í™” ë˜ì§€ ì•Šì•˜ì„ ê°€ëŠ¥ì„±
... êµ¬ì¡°ëœ ì‚¬ëŒë“¤ì˜ ë‚˜ì´ê°€ ì •í™•í•˜ê²Œ ê¸°ë¡ë˜ì—ˆì„ ê°€ëŠ¥ì„±
... ì‚¬ë§í•œ ì‚¬ëŒë“¤ì˜ ì‹ ì› í™•ì¸ì´ ì–´ë ¤ì›€

** ê°ì‹¤ ë²ˆí˜¸ (891ê°œ ì¤‘ 204ê°œë§Œ ì¡´ì¬, 687ê°œì˜ ê²°ì¸¡ì¹˜)
... ê·¸ë•ŒëŠ” ì†ìœ¼ë¡œ ë‹¤ ê¸°ë¡ í–ˆì„í…ë° ì¹¨ëª°í•˜ë©´ì„œ ê·¸ ê¸°ë¡ì„ ì°¾ê¸° ì–´ë µì§€ ì•Šì•˜ì„ê¹Œ
... íƒ€ì´íƒ€ë‹‰ ì˜í™”ë§Œ ë´ë„ ì­ì€ ì œëŒ€ë¡œëœ í‹°ì¼“ë„ ì—†ì´ íƒ”ë˜ê±° ê°™ì€ë°(ì•„ë‹ìˆ˜ë„)
... ê³ ë¡œ ê·¸ ë‹¹ì‹œì— 1, 2ë“±ê¸‰ í‹°ì¼“ì„ ì œì™¸í•˜ê³¤ ì•Œê¸° í˜ë“¤ì—ˆì„ë“¯

** ìŠ¹ì„ í•œ í•­êµ¬ (891ê°œ ì¤‘ 889ê°œ ì¡´ì¬, 2ê°œì˜ ê²°ì¸¡ì¹˜)
... ìƒê°ë³´ë‹¤ ê²°ì¸¡ì¹˜ê°€ ì ìŒ
... ê¸°ë¡ ì˜ í–ˆëŠ”ê°€ë´„

-----------------------------------

count(ë°ì´í„° ê°¯ìˆ˜)
mean(í‰ê· )
std(í‘œì¤€í¸ì°¨, ë°ì´í„°ê°€ í‰ê· ì—ì„œ ì–¼ë§ˆë‚˜ í¼ì ¸ ìˆëŠ”ì§€)
min(ìµœì†Œê°’)
25% 


ì°¸ê³  : https://qkrrmsdud.tistory.com/8